@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Mochiy Pop P One', sans-serif; }

.redes-instagram {
  background-color: orange; }

.redes-facebook {
  background-color: orange; }

.redes-whatsapp {
  background-color: orange; }

.icon-social, .btn--instagram, .btn--facebook, .btn--Whatsapp {
  font-size: 2,5rem;
  padding: 1rem; }

.btn--instagram {
  background-color: purple; }

.btn--facebook {
  background-color: blue; }

.btn--Whatsapp {
  background-color: green; }

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: orange;
  width: 100%;
  top: 0%; }

header {
  grid-area: header;
  background-color: orange;
  color: purple;
  text-align: center; }

.redes {
  background-color: orange;
  width: 50 px;
  position: absolute;
  top: 60px;
  right: 20px; }
  .redes ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .redes ul li {
      transition: all 0,5s ease; }
      .redes ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem; }
      .redes ul li:hover {
        transform: scale(1, 5); }

.creditos {
  grid-area: creditos;
  background-color: orange;
  color: #661666;
  height: 30px;
  text-align: center;
  position: fixed;
  bottom: 0%;
  width: 100%; }

/*carta*/
.productos {
  color: blueviolet; }

.productos__frutas {
  grid-area: frutas;
  color: purple;
  margin-left: 30px; }

.productos__frutasLista {
  margin-left: 30px;
  list-style: none;
  color: #a200ff;
  text-align: center;
  font-size: 40px; }

.sugerencias {
  grid-area: sugerencias;
  color: purple; }

.sugerencias__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #ac10ac; }
  .sugerencias__lista .sugerencias__nombres {
    text-decoration: underline;
    color: chartreuse;
    font-size: 30px; }
  .sugerencias__lista .sugerencias__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

.especiales {
  grid-area: especiales;
  display: flex;
  color: purple;
  margin-left: 30px; }

.especiales__lista {
  margin-left: 30px;
  list-style: none;
  text-decoration: none;
  color: #9900ff;
  align-self: end; }
  .especiales__lista .especiales__nombres {
    color: red;
    text-decoration: underline;
    font-size: 30px; }
  .especiales__lista .especiales__diferentes {
    list-style: none;
    text-align: center;
    font-size: 25px; }

/*transformaciones*/
.img-thumbnail:hover {
  cursor: pointer;
  transition: all .25s ease-in-out; }

.img-thumbnail1:hover {
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg); }

.img-thumbnail2 {
  transition: height 2s; }

.img-thumbnail2:hover {
  cursor: pointer;
  height: 500px; }

/*referencias*/
.encuesta {
  color: purple;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px; }

.pregunta1 {
  margin-left: 30px;
  color: black; }

.pregunta2 {
  margin-left: 30px;
  color: black; }

.pregunta3 {
  margin-left: 30px;
  color: black; }

.respuesta1 {
  color: green; }

.respuesta {
  color: red; }

.respuesta3 {
  color: dodgerblue; }

/*ubicacion*/
.ubicacion {
  display: flex;
  text-align: center;
  margin-left: 30px;
  margin-top: 20px;
  color: purple;
  text-decoration: underline; }

.ubicacion__maps:hover {
  transform: scaleX(2); }
