@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;


    
}
body {
    font-family: 'Mochiy Pop P One', sans-serif;
   
}
header{
    grid-area: header;
      background-color: rgb(255, 165, 0);
      color: purple;
      text-align: center;}
  
/*FOOTER*/
.creditos{
    grid-area: creditos;
    background-color: orange;
    color: rgb(102, 22, 102);
    height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
  
}